table {
	width: 600px;
	border: 2px solid #000000;
	font-size: 20px;
	background-color: #6A5ACD;
	border-collapse: collapse; /* удаление сдвоенных границ */
}

th, tr, td {
  border: 1px solid #000000;
  text-align: center;
}

th {
	background-color: gray;
}